/* html background style */
html {
	background-image: url(images/background.png);
	background-position: left;
	background-size: cover;
}

/* body style and media */
body {
	max-width: 1040px;
	height: 4500px;
  margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	background-color: #E5E1D7;
}

@media screen and (max-width: 1040px) {
  body {
    width:auto;
  }
}

/* header, h1, nav, links */
header {
	background-color: #7E9796;
	height: 150px;
	width: 1040px;
	position: absolute;
	top: 0px;

}

.logo {
	position: absolute;
	max-height: 100px;
	margin-top: 15px;
	margin-left: 15px;
}

h1 {
	font-family: 'Acme',Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    font-style: normal;
    line-height: 1.4em;
    padding-left: 175px;
}

nav {
	position: absolute;
	margin-top: 25px;
	font-family: 'Chivo', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
	word-spacing: 0.5em;
	top: 100px;
}

a:link {
	color: #1B467F;
	text-decoration: none;
}

a:visited {
	color: #990000;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/* biography section */
#biography, #presentations, #diagrams {
	font-family: 'Acme', Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #990000;
	letter-spacing: 0.05em;
	text-align: left;
	padding: 20px 10px 10px 10px;
}

/* text styling for above presentations */
.biography, .rest, .diagram, .soap1, .json, .hypermedia, .soa, .microservices, .oauth, .devops {
	font-family: 'Chivo', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	text-align: left;
	padding: 10px;
}

/* gallery section with images */
#gallery {
	font-family: 'Acme', Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #990000;
	letter-spacing: 0.05em;
	text-align: left;
	margin-top: 50px;
	padding: 10px;
}

/* first & second row of images in gallery & all images in diagrams */
#flex-container1, #flex-container2, #flex-container3, #flex-container4, #flex-container5, #flex-container6, #flex-container7, #flex-container8,
#flex-container9, #flex-container10, #flex-container11, #flex-container12, #flex-container13, #flex-container14, #flex-container15, #flex-container16, #flex-container17,
#flex-container18, #flex-container19, #flex-container20, #flex-container21, #flex-container22, #flex-container23, #flex-container24, #flex-container25 {
	display: flex;
	float: left;
	align-items: flex-start;
	align-content: space-between;
	width: 900px;
	height: 500px;
}

/* text styling */
#bioSite-prototype, #bioSite-image, #web231, #portfolio-prototype, #web330, #wizard-trivia, #NoSQL, #ord, #ShopperOrd, #ShopperNoSQL, #TechOrd, #TechNoSQL, #NodeBookCoNormalized,
#NodeBookCoNoSQLDoc, #NodeBookCoNoSQL, #NodeSecurityOrd, #NodeSecurityNoSQL, #soap1, #gateway, #composer, #gpa, #books, #bobs, #nodebucket {
	width: 300px;
	height: 250px;
	padding: 20px;
	font-family: 'Chivo', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	text-align: left;
}

/* image styling */
.bioPrototype, .bioSite, .web231, .portfolioPrototype, .web330, .wizard-trivia, .NoSQL, .ord, .ShopperOrd, .ShopperNoSQL, .TechOrd, .TechNoSQL,
.NodeBookCoNormalized, .NodeBookCoNoSQLDoc, .NodeBookCoNoSQL, .NodeSecurityOrd, .NodeSecurityNoSQL, .soap, .gateway, .composer, .gpa, .books, .bobs,
.node {
	width: 300px;
	height: 250px;
	box-shadow: 5px 5px 5px #777777;
}

/* video styling */
.card {
	align-items: flex-start;
	padding: 20px;
}

.NoSQL:hover, .ord:hover, .bioPrototype:hover, .bioSite:hover, .web231:hover, .portfolioPrototype:hover, .web330:hover, .wizard-trivia:hover, .gateway:hover, .composer:hover,
.books:hover {
	border: 1px solid #FFFFFF
}

/* footer style and copyright */
footer {
	background-color: #7E9796;
	height: 150px;
	width: 1040px;
	position: bottom;
	margin-top: 4500px;
	bottom: 0px;

}

#contact, #copyright {
	font-family: 'Chivo', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}